.fg-red{
  color: #F44336;
}

.bg-red{
  background-color: #F44336;
}

.bd-red{
  border-color: #F44336;
}

.fg-pink{
  color: #E91E63;
}

.bg-pink{
  background-color: #E91E63;
}

.bd-pink{
  border-color: #E91E63;
}

.fg-purple{
  color: #9C27B0;
}

.bg-purple{
  background-color: #9C27B0;
}

.bd-purple{
  border-color: #9C27B0;
}

.fg-deep-purple{
  color: #673AB7;
}

.bg-deep-purple{
  background-color: #673AB7;
}

.bd-deep-purple{
  border-color: #673AB7;
}

.fg-indigo{
  color: #3F51B5;
}

.bg-indigo{
  background-color: #3F51B5;
}

.bd-indigo{
  border-color: #3F51B5;
}

.fg-blue{
  color: #2196F3;
}

.bg-blue{
  background-color: #2196F3;
}

.bd-blue{
  border-color: #2196F3;
}

.fg-light-blue{
  color: #03A9F4;
}

.bg-light-blue{
  background-color: #03A9F4;
}

.bd-light-blue{
  border-color: #03A9F4;
}

.fg-cyan{
  color: #00BCD4;
}

.bg-cyan{
  background-color: #00BCD4;
}

.bd-cyan{
  border-color: #00BCD4;
}

.fg-teal{
  color: #009688;
}

.bg-teal{
  background-color: #009688;
}

.bd-teal{
  border-color: #009688;
}

.fg-green{
  color: #4CAF50;
}

.bg-green{
  background-color: #4CAF50;
}

.bd-green{
  border-color: #4CAF50;
}

.fg-light-green{
  color: #8BC34A;
}

.bg-light-green{
  background-color: #8BC34A;
}

.bd-light-green{
  border-color: #8BC34A;
}

.fg-lime{
  color: #CDDC39;
}

.bg-lime{
  background-color: #CDDC39;
}

.bd-lime{
  border-color: #CDDC39;
}

.fg-yellow{
  color: #FFEB3B;
}

.bg-yellow{
  background-color: #FFEB3B;
}

.bd-yellow{
  border-color: #FFEB3B;
}

.fg-amber{
  color: #FFC107;
}

.bg-amber{
  background-color: #FFC107;
}

.bd-amber{
  border-color: #FFC107;
}

.fg-orange{
  color: #FF9800;
}

.bg-orange{
  background-color: #FF9800;
}

.bd-orange{
  border-color: #FF9800;
}

.fg-deep-orange{
  color: #FF5722;
}

.bg-deep-orange{
  background-color: #FF5722;
}

.bd-deep-orange{
  border-color: #FF5722;
}

.fg-brown{
  color: #795548;
}

.bg-brown{
  background-color: #795548;
}

.bd-brown{
  border-color: #795548;
}

.fg-grey{
  color: #9E9E9E;
}

.bg-grey{
  background-color: #9E9E9E;
}

.bd-grey{
  border-color: #9E9E9E;
}

.fg-blue-grey{
  color: #607D8B;
}

.bg-blue-grey{
  background-color: #607D8B;
}

.bd-blue-grey{
  border-color: #607D8B;
}

.fg-white{
  color: #fff;
}

.bg-white{
  background-color: #fff;
}

.bd-white{
  border-color: #fff;
}

.fg-black{
  color: #000;
}

.bg-black{
  background-color: #000;
}

.bd-black{
  border-color: #000;
}
